@{
    Layout = "_LayoutAdmin";
}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="box text-center">
                        <a asp-area="admin" asp-controller="news" asp-action="index">
                            <img src="~/admin/img/newspaper.svg" class="boximage" alt="">
                        </a>
                        <p class="boxtext">
                            <a asp-area="admin" asp-controller="news" asp-action="index">Xəbərlər səhifəsinə keçid edib dəyişikliklərə başla</a>
                        </p>
                        <button class="boxbtn">
                            <a asp-area="admin" asp-controller="news" asp-action="index">Keçid</a>
                        </button>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="box text-center">
                        <a asp-area="admin" asp-controller="actual" asp-action="index"><img src="~/admin/img/on-time.svg" class="boximage" alt=""></a>
                        <p class="boxtext"><a asp-area="admin" asp-controller="actual" asp-action="index">Gündəm səhifəsinə keçid edib dəyişikliklərə başla</a> </p>
                        <button class="boxbtn">
                            <a asp-area="admin" asp-controller="actual" asp-action="index">Keçid</a>
                        </button>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="box text-center">
                        <a asp-area="admin" asp-controller="interview" asp-action="index">
                            <img src="~/admin/img/interview.svg" class="boximage" alt="">
                        </a>
                        <p class="boxtext"><a asp-area="admin" asp-controller="interview" asp-action="index">Müsahibələr səhifəsinə keçid edib dəyişikliklərə başla</a> </p>
                        <button class="boxbtn">
                            <a asp-area="admin" asp-controller="interview" asp-action="index">Keçid</a>
                        </button>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="box text-center">
                        <a asp-area="admin" asp-controller="project" asp-action="index"><img src="~/admin/img/project.svg" class="boximage" alt=""></a>
                        <p class="boxtext"><a asp-area="admin" asp-controller="project" asp-action="index">Layihələr səhifəsinə keçid edib dəyişikliklərə başla</a> </p>
                        <button class="boxbtn">
                            <a asp-area="admin" asp-controller="project" asp-action="index">Keçid</a></button>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="box text-center">
                        <a asp-area="admin" asp-controller="about" asp-action="index"><img src="~/admin/img/info.svg" class="boximage" alt=""></a>
                        <p class="boxtext"><a asp-area="admin" asp-controller="about" asp-action="index">Haqqımızda səhifəsinə keçid edib dəyişikliklərə başla</a> </p>
                        <button class="boxbtn"><a asp-area="admin" asp-controller="about" asp-action="index">Keçid</a></button>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="box text-center">
                        <a asp-area="admin" asp-controller="message" asp-action="index"><img src="~/admin/img/email.svg" class="boximage" alt=""></a>
                        <p class="boxtext">
                            <a asp-area="admin" asp-controller="message" asp-action="index">Məktublar səhifəsinə keçid edib dəyişikliklərə başla</a>
                        </p>
                        <button class="boxbtn"><a asp-area="admin" asp-controller="message" asp-action="index">Keçid</a></button>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="box text-center mb-5">
                        <a asp-area="admin" asp-controller="contact" asp-action="index"><img src="~/admin/img/contact-book.svg" class="boximage" alt=""></a>
                        <p class="boxtext"><a asp-area="admin" asp-controller="contact" asp-action="index">Əlaqə səhifəsinə keçid edib dəyişikliklərə başla</a> </p>
                        <button class="boxbtn"><a asp-area="admin" asp-controller="contact" asp-action="index">Keçid</a></button>
                    </div>
                </div>
            </div>
        </div>
    </section>

